<!doctype html>
<html>
    <head>
        <title>PyBrowser</title>
    </head>
    <body>
        <form>
            <div id="directories">
                <ul>             
                {% if directory %}
                
                    <li><a href="..">..</a></li>
                {% endif %}
                {% if directories %}                
                    {% for dir in directories %}
                        <li><input type="checkbox" name="selected" value="{{ dir }}"><a href="{{ url_for('list', directory=dir) }}">{{ dir.name }}</a></li>
                    {% endfor %}                                   
                {% endif %}  
                </ul>              
            </div>
            <div id="files">
                {% if files %}
                    <ul>
                    {% for file in files %}
                        <li><input type="checkbox" name="selected" value="{{ file }}"><a href="{{ url_for('download', todl_path=file) }}">{{ file.name }}</a></li>
                    {% endfor %}
                    </ul>
                {% else %}
                  Répertoire vide
                {% endif %}
            </div>
            <input type="submit" formaction="/zip" formmethod="post" value="Zip">
        </form>
    </body>
</html>